@model WebApplication.Models.TreningSzczegoly

@{
    ViewData["Title"] = "AddExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddExercise</h1>

<h4>TreningSzczegoly</h4>
<hr />
@Html.BeginForm("AddExercise","Trening",FormMethod.Get, new { id= ViewBag.trainingId })
{
    <fieldset>
        @Html.DropDownList("category")

        <p>
            <input type="submit" value="Filtruj" />
        </p>

    </fieldset>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExercise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_cwiczenia" class="control-label"></label>
                <select asp-for="id_cwiczenia" class ="form-control" asp-items="ViewBag.id_cwiczenia"></select>
            </div>
            <div class="form-group">
                <label asp-for="liczba_powtorzen" class="control-label"></label>
                <input asp-for="liczba_powtorzen" class="form-control" />
                <span asp-validation-for="liczba_powtorzen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj ćwiczenie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.trainingId">Powrót do treningu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
